.mainHeader {
    background-color: rgba(255, 255, 255, 0.342);
    color: rgb(3, 3, 3);
    padding: 10px 0;
  
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home {
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-weight: bold;
    font-size: 30px;
  }
  
  .home span {
    color: #d1b83e;
  }
  
  .main-container {
    list-style: none;
    display: flex;
  
  }
  
  .main-container a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    margin-right: 15px;
    cursor: pointer;
    font-size: 23px;
    
  
  }
  
  .in-account,
  .out-account {
    list-style: none;
    display: flex;
  }
  
  .in-account a,
  .out-account a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
  
  }
  
  .signupbtn {
    background-color: #f4d742;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 5px;
  }
  
  .in-account {
    align-items: center;
  
  
  
  }
  
  .signinbtn {
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 5px;
  }

  .logoutbtn {
    background-color: #f80202;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 5px;
  }
